*{
	box-sizing: border-box
	    
}
body{
	font-family: 'Merriweather', serif; 
    background-color: #000;
    color: #DAA520;
    
    
}
.nav{
	
	top: 0;
	left: 0;
	transition: all 0.3s ease-in-out;
	width: 100%;
}
.container-fluid{
    max-width: 1200px;
	margin: 0 auto;
    
} 
.nav .container-fluid{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0; 
}
.nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.nav a{
    
	color: #fff;
	text-decoration: none;
	padding: 7px 15px;
}
.nav a.current,
.nav a:hover{
    background-color: #000;
	color: #FF1E1E;
	font-weight: bold;
}
.container-fluid,h3,.logo{
    padding: .2rem;
    
    
}
.hero{
    padding: 0 2rem;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 0 2px;
    top: 100%;

}
h2{
    font-size: 1.2rem;
    text-align: center;
}
.boxes .container{
    display: flex;
    justify-content: center;
    text-align: justify;
    padding: 0 5px; 
    gap: 5rem;
}
.boxes{
    flex: 1;
    margin-top: 4rem;
    font-size: 1rem;

}


.banner img{
    width: 1300px;
    height: 60vh;
    
    
} 
/* .responsive {
    width: 100%;
    height: auto;
  } */
  
.left .img{
width: 10%;
padding: 20px;

}

.target{
    padding: 20px;
    display: flex;
    background-color: #fff;
    
    
}
.target .services{
    display: flex;
    justify-content: center;
    text-align: justify;
    padding: 0 5px; 
    gap: 5rem;
}
.target{
    flex: 1;
    margin-top: 4rem;
    font-size: 1rem;
}
.target-bx{
    margin-bottom: 10rem;

}

h3{
    font-size: 1.5rem;
  
}
.typo{
    margin-bottom: 10rem;
}
/* audience styles */

.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, auto));
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    
}
.services-box{
    
    padding: 30px;
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    text-align: justify;
    border-radius: 6px;
    border-bottom: 2px solid#fff;
    box-shadow: 0 2px 7px #FFAB4C;
}
.services-box-t{

    padding: 30px;
    width: 700px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    text-align: justify;
    border-radius: 6px;
    border-bottom: 2px solid#fff;
    box-shadow: 0 2px 7px #FFAB4C;



}

/* color-scheme styles*/
.container-servince{
    background-color: #000	;
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    color: #fff
}
#div1{
    height:60px;
    width:300px;
    background-color:#ff0000;
    margin:0;
    }
    #div1a{
        height:20px;
        width:300px;
        background-color:#000;
        margin:0;
        }
    
    #div2{
        height:50px;
        width:300px;
        background-color:#000;
        /* position:relative; */
        color: #fff;
    
        bottom:30rem;
        }
    


#div2{
    height:50px;
    width:300px;
    background-color:#DAA520;
    /* position:relative; */

    bottom:30rem;
    }
    #div3{
        height:50px;
        width:300px;
        background-color:#708223;
        
        bottom:280px;
        }
    #div4{
        height:60px;
        width:300px;
        background-color:#fff;
        
        right:320px;
        bottom:100px;
        }
/* 



audience images */
.services-box img{
    margin: 0;
    padding: 0;
    width: 350px;
    height: 40vh;
    
    
}
.services-box h3{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.7rem 0 0.4rem;

}
.services-box .bx {
    
    padding-top: 2rem;
    font-size: 1.5rem;
    color: #FFAB4C;
    }
.services-box a{
        
        
        /* width: 100vw;
        height: 100vh; */
        color: #fff;
        font-size: 1rem;
        padding: 8px 12px;
        margin-top: 10px;
        border-radius: 6px;
        border: 2px solid #DC143C;
        transition: all 0.3s ease;
    
}
    /* a{
        text-align: center;
        align-content: center;
        width: 30%;
        height: 1%;
        background:#DC143C;
    } */
    .intro{
        font-size: 1rem;
        text-align: center;
        padding: 10px;
        
    }
    h4{
        font-size: 1.5rem;
    }
    .scenario{
        padding: 40px;
        font-size: 1rem;
        text-align: justify;

    }
    





.footer{
        
    margin-top: 1rem;
    padding: 20px 63px;
    width: 100%;
    color: #fff;
    background-color: #000;
    text-align: center;
} 
