@media only screen and (min-width: 64rem){
    nav ul li a{
        padding: .5rem 1rem;

    }
    tr:nth-child(even) {
        background-color: #87805E;
      }
      
    
    .footer{
        flex-direction: row;
    }
    
}