/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
/* html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} */

/*----------- apply a natural box layout model to all elements --------------*/
/* * { 

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1px;
    padding: 0;
    text-align: center;
    font-size: 1.2rem;   
    color: #000;

    
} */
h1  {
    font-size: 1.2rem;

}

nav{
    background-color: #87805E;
 /* justify-content: space-between; */


   
  
}    

nav button{
    background-color: transparent;


}
    
nav ul{
    list-style-type: none;

    padding: 0;
    margin: 0;
}

 


nav ul li a{

    
    font-size: 1rem;
    display: block; 
     padding: .8rem 2vw;  
    text-decoration: none;
 
}
 
/* nav ul li.active a{
    background-color: rgba(0, 0, 0, 0.3);
    color: 1px solid rgba(0, 0, 0, 0.5);


} */
nav ul li a:hover{

    cursor: pointer;

}
nav ul {
    display: none;
}
nav ul.open{
    display: block;
}
#btn span:nth-child(1){display: block;}
#btn span:nth-child(2){display: none;}
    
    
#btn.open span:nth-child(1){display: none;}
#btn.open span:nth-child(2){display: block;}
    
    

.container-fluid{
    padding: 8rem;

}
header .logo{
    display: block;
    padding: 20px;
    float: left;
    margin: .2rem 3vw;
    
}
.date{
    text-align: right;
	margin: 0.5rem;
	/* border: 1px solid #bbb; */
	padding: 0.75rem;
	/* background-color: #eee; */
}


header .date{

    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 1rem;
    /* margin-left: 30%; */
}




footer{
    display: grid;
    grid-template-columns: 1fr;
    /* margin: 0 auto; */
    /* padding: 10px; */
    text-align: center;
    justify-content: center;
    align-items: center;



}


    


.footer{
    /* display: flex;
    flex-direction: column; */

    font-size: 1rem;    
    /* margin-top: 1rem; */
    /* padding: 20px; */
    width: 100%;
    color: #000;
    justify-content: center;
    
    text-align: center;
} 
.myFooter{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#last-updated{
    font-size: 1.5rem;
	text-align: center;
	font-size: smaller;
}


