@media screen and (max-width: 600px) {

    /* iphone 12 pro or mobile */
    
    header{
        font-size: 1rem;
    }
     .ted{
        font-size: rem;
    }
    .pro img{
        width: 80%;
    }
    

.container{
    
    
    width: 100%;
        display: grid;
        grid-template-columns:  1fr;
        column-gap: 2%;
        /* width: 70%; */
        padding: 10px;
        align-content: left;
        margin-bottom: 1.5rem;


    
        
        
       } 
        
       .box,.box-1, .box-2 {
        font-size: 1.5rem;
        padding: 20Px;
    

        align-items: center;
        margin-bottom: 2rem;
        
        width: 70%;
    }

}    

    
