@media screen   and (max-width: 1024px){

    /* ipad air or mobile */
header ,h1,.ted{
    font-size: 1.3rem;
}
.pro img{
    width: 80%;
}
    

.container{
    display: grid;
    grid-template-columns: 1fr  1fr;
    column-gap: 2%;
    /* width: 70%; */
    padding: 10px;
    align-content: left;
    margin-bottom: 1.5rem;
        
} 
        
.box,.box-1,.box-2{
    font-size: .8rem;
    margin-left: 3%;
    align-items: center;
    margin-bottom: 2rem;
    width: 90%;
}

}

    
